<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://drshapeless.com/css/default.css">
        <meta charset="utf-8">
        <title>drshapeless blog</title>
    </head>
    <body>
        <div id="link_container">
            <a href="https://blog.drshapeless.com" id="blog_homepage">drshapeless blog</a>
        </div>

        <hr>

        <h2>Categories</h2>

        <ul>
            {{range .}}
            <li>
                <!-- <a href="https://blog.drshapeless.com/category/{{.}}">{{.}}</a> -->
                <a href="./{{.}}">{{.}}</a>
            </li>
            {{end}}
        </ul>

        <hr>
        <p>Contact me via email.</p>
        <p>Email: <a href=mailto:drsl@drshapeless.com>drsl@drshapeless.com</a>
        </p>
    </body>
</html>
