<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://drshapeless.com/css/default.css">
        <meta charset="utf-8">
        <title>error - drshapeless</title>
    </head>
    <body>
        <a href="https://drshapeless.com">
            <div class="header">
                <h1>drshapeless</h1>
            </div>
        </a>

        <div class="navbar">
            <a href="https://blog.drshapeless.com">Blog</a>
            <a href="https://drshapeless.com/about_me.html">About me</a>
            <a href="https://drshapeless.com/contact.html">Contact</a>
            <a href="https://drshapeless.com/taste.html">Taste</a>
            <a href="https://github.com/drshapeless" class="right">GitHub</a>
        </div>

        <div class="content">
            <h1>{{.Status}}</h1>
            <p>{{.Message}}</p>
        </div>
    </body>
</html>
