<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://drshapeless.com/css/default.css">
        <meta charset="utf-8">
        <title>{{.Metadata.Title}}</title>
    </head>
    <body>
        <div id="link_container">
            <a href="https://blog.drshapeless.com" id="blog_homepage">drshapeless blog</a>
        </div>

        <h1 id="title">{{.Metadata.Title}}</h1>

        <div id="tags">Tags:
            {{range .Metadata.Category}}
            <!-- <a href="https://blog.drshapeless.com/category/{{.}}"> -->
            <a href="../category/{{.}}">
                {{.}}
            </a>,
            {{end}}
        </div>

        <p class="date">Created: {{.Metadata.Created}}        Updated: {{.Metadata.Updated}}</p>


        <hr>

        {{.Content}}

        <hr>
        <p>Contact me via email.</p>
        <p>Email: <a href=mailto:drsl@drshapeless.com>drsl@drshapeless.com</a>
        </p>
    </body>
</html>
