<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://drshapeless.com/css/default.css">
        <meta charset="utf-8">
        <title>drshapeless blog</title>
    </head>
    <body>
        <div id="link_container">
            <a href="https://blog.drshapeless.com" id="blog_homepage">drshapeless blog</a>
        </div>

        <a href="./category/">category</a>
        <hr>

        <table>
            {{range .}}
            <tr>
                <td>{{.Created}}</td>
                <td>
                    <!-- <a href="https://blog.drshapeless.com/post/{{.ID}}">{{.Title}}</a> -->
                    <a href="./post/{{.ID}}">{{.Title}}</a>
                </td>
            </tr>
            {{end}}
        </table>

        <hr>
        <p>Contact me via email.</p>
        <p>Email: <a href=mailto:drsl@drshapeless.com>drsl@drshapeless.com</a>
        </p>
        <p>Main site: <a href="https://drshapeless.com">drshapeless.com</a></p>
    </body>
</html>
